footer.footer-mid
    .footer-mid-contenedor
        .footer-info
            h3 PixelZone
            p Tu portal de videojuegos desde 2020

        .footer-links
            a(href="/")  Inicio
            a(href="/juegos") Juegos
            a(href="/noticias") Noticias
            a(href="/nuestrogrupo") Nuestro grupo

    .footer-copy
        p | #{year} © PixelZone — Todos los derechos reservados
