header.header-neo
    .header-neo-contenedor
        .header-neo-logo
            h1 #{pagina}

        nav.header-neo-nav
            a(href="/") Inicio
            a(href="/juegos") Juegos
            a(href="/noticias") Noticias
            a(href="/nuestrogrupo") Nuestro grupo
